.i.i-right.i-left(data-vitamin-id='{{=it.id}}')
    .left
        .avatar
    .i-body
        input(placeholder='Create a new draft...')
    .right
        button.sm.rnd.success(onclick='Prescription.create(event)') Save
