.left
    .avatar
        img(src='{{=it.artwork}}', onerror='this.src=""')
.i-body.cursor(onclick='Prescription.addVitamin(event, {{=it.vitamin_id}})')
    h5.i-title {{=it.description || '(empty description)'}}
    p.i-description
        small {{=it.vitaminCount}}
