title.
    vacay - a music community            
meta(name='description', content='A music player and community.')

meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=no')

meta(property='og:title', content='vacay')
meta(property='og:type', content='website')
meta(property='og:image', content='https://vacay.io/icon.png')
meta(property='og:url', content='https://vacay.io/')
meta(property='og:description', content='A music player and community.')

meta(property='twitter:card', content='summary_large_image')

link(rel='stylesheet', href='app.css', inline='true')
