doctype html
html
    head
        include head
    body
        include windowbar
        include statusbar
        include player
        include toolbar
        include live
        include multi
        include notification
        main#main.scroll

    include scripts