doctype html
html
    head
        include head
    body.no-auth
        include windowbar
        include statusbar
        include player
        include toolbar
        include multi
        include notification
        #offline.offline(onclick='page("/offline")') Unable to establish a connection
        main#main.scroll

    include scripts