doctype html
html
    head
        include head
    body.no-auth
        include windowbar
        include statusbar
        include player
        include toolbar
        include multi
        include notification
        main#main.scroll

    include scripts