#multi
    .u.u720.row
        .col-xs-6
            button.link.close(onclick='Multi.clear()')    
            span.selected
        .actions.col-xs-6
            button.icon.play.link(onclick='Multi.play()')
                i.icon-play
            button.icon.queue.link(onclick='Multi.queue()')
                i.icon-add
