#multi
    .u.u720.row
        button.link.close.col-xs-2.col-sm-1(onclick='Multi.clear()')
        span.selected.col-xs-3.col-sm-4
        .actions.col-xs-7
            button.icon.play.link(onclick='Multi.play()')
                i.icon-play
            button.icon.queue.link(onclick='Multi.queue()')
                i.icon-add
            button.icon.download.link.hide-native(onclick='Multi.offline()')
                i.icon-download
