#p-icon.player-trigger(onclick='View.trigger("player")')
    .bar
    .bar
    .bar
    .bar
    .bar
    .badge 0

.p-container.transition

    #artwork
        #yt-container
        #brand [vacay]

    .p-ctrls
        #current-time.time
        a.repeat(onclick="Player.toggleRepeat()")
            i.icon-repeat
        a.previous(onclick="Player.previous()")
            i.icon-previous
        a.play(onclick="Player.play()")
            i.icon-pause
            i.icon-play
        a.next(onclick="Player.next()")
            i.icon-next
        a(onclick='document.querySelector(".p-container").classList.toggle("show-volume")')
            i.icon-volume
        #remaining-time.time
        #volume
            input(type='range', min='0', max='100', step='1')
            .vol-val

    .p-body.scroll

        .rc
            p audio will play elsewhere but you can control it from here
            small.pull-right
            button.xs.link.failure(onclick="Player.setMaster()") play here instead

        .p-live
            .p-header Listening Along With
            .list

        #nowplaying
            .p-header Now playing
            .list

        #previous
            .p-header
                span Previously Played
                a.small.pull-right.hide-auth Full History
            .list

        #queue
            .p-header
                span Up Next
                a.small.pull-right(onclick="Queue.clear()") clear
            .list

        #autoplay.hide-auth
            small autoplay from crate when up next is empty
            span.btn-switch(onclick="Player.toggleAutoplay()")
                button.xs.on on
                button.xs.off off
