#toolbar
    .menu-trigger(onclick='View.trigger("menu")')
        span
    #toolbar-title
    nav.vertical.scroll
        #user-avatar.hide-auth
        #user-icon
            a#user-crate.hide-auth crate
            a#user-drafts.hide-auth drafts
            a#user-offline(href='/offline') offline
            a.hide-auth(href='/settings') settings
            a#auth-btn(onclick='Landing.show()') log in
        ul
            li
                a(href='/') home
            li
                a(href='/inbox') inbox
            li
                a(href='/search') search
            li
                a(href='/about') about
            li
                a(href='/discussions') help
        #live
