#toolbar-trigger(onclick='document.body.classList.toggle("menu-open")')
    span
#toolbar
    a#home-icon(href='/home')
        i.icon-home
    a#search-icon(href='/search')
        i.icon-search
    a#user-icon
        i.icon-person
    a#help-icon(href='/info') i