#toolbar-trigger.trigger(onclick='View.trigger(this, "menu")')
    span
#toolbar-title
nav#toolbar.vertical.scroll
    ul
        li
            a(href='/') home
        li
            a(href='/inbox') inbox
        li
            a(href='/search') search
        li
            a(href='/about') about
        li
            a(href='/discussions') help

    #user-icon
    a#auth-btn(onclick='Landing.show()') log in
    a.hide-auth(onclick='page("/settings")') settings
    #live
