#windowbar.transition
    button#exit(onclick='App.exit()')
    button#minimize(onclick='App.minimize()')
    button#maximize(onclick='App.maximize()')
    button#back.link(onclick='App.back()') &#60;
    button#forward.link(onclick='App.forward()') &#62;
    #version
