#windowbar.transition
    button#exit.hide-nw(onclick='App.exit()')
    button#minimize.hide-nw(onclick='App.minimize()')
    button#maximize.hide-nw(onclick='App.maximize()')
    button#back.link(onclick='App.back()') &larr;
    button#forward.link(onclick='App.forward()') &rarr;
    #version
