.filter-container.u.u720
    .cf
        button.icon.pull-right(onclick='this.parentNode.parentNode.classList.toggle("show")')
            i.icon-cog
        button.link.pull-right.reset(onclick='View.load({ reset: true })') Reset
    .filters
