nav.horizontal-pill.cf
    ul
        li.pull-right
            a.help-trigger(onclick='View.trigger("help")') ?

.help-container.i
    | Welcome to vacay. <a href="/about" class="link">Start here.</a>
