nav.horizontal-pill.cf
    ul
        li.pull-right
            a.help-trigger(onclick='View.trigger("help")') ?

.help-container.i
    | A personal configurable music feed for the internet. Build your feed with any public url with streamable music. Below is a sample inbox that is pulling music from blogs, soundcloud users, twitter users, youtube channels, rss feeds, subreddits, and more. Sign up to start your own personal music feed.