nav.horizontal-pill
    ul
        li
            a.all(onclick='View.load({ t: "all" })') all
        li
            a.prescriptions(onclick='View.load({ t: "prescriptions" })') prescriptions
        li
            a.vitamins(onclick='View.load({ t: "vitamins" })') pages
        li.pull-right
            a.help(onclick='View.trigger(this, "help")') ?


.help-container.i
    | A personal configurable music feed for vacay (and the internet). By subscribing to users, you can receive prescriptions from them. By subscribing to pages on the internet, you will receive vitamins as they are added to that page. It can gather streamable music from any public url. Below is a sample inbox that is pulling music from blogs, soundcloud users, twitter users, youtube channels, rss feeds, subreddits, and more. Sign up to start your own personal music feed.