$bg = #f6f6f6
$border = #f0f0f0
$text = rgb(105, 112, 122)

$vacay = #D3E478
$grey = #666
$red = rgba(204,17,0,0.5)
$orange = rgb(255,199,87)
$green = rgba(0, 150, 0, 0.4)
$green-alt = #51b364
$yellow = rgba(255,255,0,0.5)

$extraSmallMax = 899px
$smallMin = 900px
$smallMax = 999px
$mediumMin = 1000px
$mediumMax = 1199px
$largeMin = 1200px
$largeMax = 1399px
