@import '00_variables.styl'
@import 'nib'

.avatar
    display inline-block
    background-position center
    padding 0
    line-height 0
    background-size cover
    border none
    img
        background-color $border
        width 45px
        height 45px
        border-radius 999em
