@import '00_variables.styl'
@import 'nib'

.c
    background white
    position relative
    margin 0 0 20px 0
    border-radius 2px
    box-shadow 0 1px 4px rgba(0,0,0,.04)

    &:before
    &:after
        content " "
        display table
    &:after
        clear both

@media (min-width: $smallMin)
    .c
        border 1px solid $border