@import '00_variables.styl'
@import 'nib'

.c
    background white
    position relative
    margin 0 0 20px 0
    border-radius 2px

    &:before
    &:after
        content " "
        display table
    &:after
        clear both

@media (min-width: $smallMin)
    .c
        border 1px solid $border