@import '00_variables.styl'
@import 'nib'

.c
    background white
    position relative
    margin 0 0 20px 0
    border-radius 2px
    border 1px solid $border

    &:before
    &:after
        content " "
        display table
    &:after
        clear both    