@import '00_variables.styl'
@import 'nib'

.mouse .i:hover
    a.i-title
        color blue
        text-decoration underline

.mouse .list > .i:hover
    background-color #fcfcfc

.i
    position relative
    display block
    background white
    padding 15px

    &:before
    &:after
        content " "
        display table
    &:after
        clear both

    .left
        absolute top left

    .right
        absolute top 15px right 15px

    &.selected
        background yellow
        .i-title
            font-weight 300

.i-image
    padding 0

.i-title
    display block

.i-body
    display block
    word-wrap break-word

.i-divider
    border-top 1px solid $border
    margin 15px 0

.i-left .i-body
    margin-left 55px
    min-height 30px

.i-right .i-body
    padding-right 140px

.i-handle
    display inline-block
    vertical-align middle
    width 25px
    height 30px
    background-image repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%)
    background-size 3px 3px
    cursor move
