@import '00_variables.styl'
@import 'nib'

._m
    line-height 1.5

    h3
        margin-top 1.5em
    p
        margin-top 0.5em
    a
        color $green-alt

.mouse ._m a:hover
    text-decoration underline