@import '00_variables.styl'
@import 'nib'

html
    height 100%
    width 100%
    overflow hidden
    text-size-adjust 100%
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
    text-rendering: optimizeLegibility

body
    position relative
    font-family "Helvetica Neue", "Helvetica", "Arial", sans-serif
    font-size 14px
    color $text
    height 100%
    width 100%
    overflow hidden

main
    absolute top right bottom left
    background-color $bg
    height 100%
    overflow hidden
    padding-top 45px
    padding-bottom 100px

body.native.mobile main
    padding-top 48px

.u
    position relative
    margin 0 auto

    &.u650
        max-width 650px

    &.u720
        max-width 720px

    &.u850
        max-width 850px

main > nav.u
    margin-top 4px
    border-bottom 4px solid $bg

body:not(.app-init) #windowbar
    height 100%

@media (min-width: $smallMin)
    main
        border-right 4px solid $border
        padding-left 15px
        padding-right 15px

@media (max-width: $extraSmallMax)
    body.menu-open main
        overflow hidden