@import '00_variables.styl'
@import 'nib'

h1
    font-weight 100
    line-height 1.1

h2
h3
h4
h5
h6
    font-weight 200
    line-height 1.2
h1
    font-size 38px

h2
    font-size 32px

h3
    font-size 24px

h4
    font-size 16px

h5
    font-size 14px

h6
    font-size 12px

p
    margin-bottom .5em
    line-height 1.42857

.badge
    color #999
    background $border
    margin-right 5px
    padding 2px 5px
    font-size 8px
    vertical-align middle

small
.small
    font-size 11px
    font-weight normal
    letter-spacing -0.02em
    + small:not(.pull-right):before
        content ' '
        margin 0 5px
