@import '00_variables.styl'
@import 'nib'

.filter-container
    background #f0f0f0
    min-height 34px

    form
        margin 0 4px 4px

    input
        margin 0
        border 0

    nav
        padding 5px 15px
        border-bottom 1px solid $border

    .reset
        display none

    .filters
        display none

    &.show
        .icon
            background white
            border 1px solid $border
            border-radius 999em
        .reset
            display inline-block
        .filters
            display block