@import '00_variables.styl'
@import 'nib'

.filter-container
    min-height 34px

    input
        margin 0
        border 0
        border-bottom 1px solid $border

    nav
        padding 10px 0

    .reset
        display none

    .filters
        display none

    &.show
        .icon
            background white
            border 1px solid $border
            border-radius 999em
        .reset
            display inline-block
        .filters
            display block