@import '00_variables.styl'
@import 'nib'

#live
    position relative
    padding-top 35px
    &:before
        absolute top 15px left 10px right
        content '\2022\00a0LIVE'
        display block
        font-size 10px
        color $red

    &:empty
        display none

    .avatar-image-icon
        width 45px
        height 45px

    .user a
        padding 5px 25px

@media (max-width: $extraSmallMax)
    #live
        text-align left
        overflow hidden
        overflow-x scroll
        .user a
            display inline-block