@import '00_variables.styl'
@import 'nib'

#live
    position relative
    margin-top 25px
    padding-top 35px
    border-top 1px solid $border
    &:before
        absolute top 15px left right
        content '\2022\00a0LIVE'
        text-align center
        display block
        font-size 10px
        color $red

    &:empty
        display none

    .avatar-image-icon
        width 45px
        height 45px

    .user a
        padding 5px 25px