@import '00_variables.styl'
@import 'nib'

#multi
    fixed top -56px left right
    height 56px
    background rgba(255,255,225,0.95)
    z-index 10003
    transition all 250ms cubic-bezier(0.10,0.70,0.10,1)
    .selected
        font-weight 900
        line-height 56px
    .actions
        text-align right
    button
        padding 0
        width 45px
        height 56px
        i
            line-height 56px
            font-size 25px

.show-multi #multi
     transform translate3d(0,56px,0)    
