@import '00_variables.styl'
@import 'nib'

.page
    img
        display inline-block
        margin-right 5px

.list > .page
    border-bottom 1px solid $border

.mouse .page:hover .i-title
    color blue
    text-decoration underline