@import '00_variables.styl'
@import 'nib'

#prescription
    margin-top 30px

.prescription
    .recommendations
        float left
        .avatar
            display inline-block
            margin-right 5px
            img
                width 30px
                height 30px
    a.i-image
        background-position center
        background-size cover
        height 400px
    .description
        min-height 19px
        padding 5px 25px
        line-height 1.42857
    .description[contenteditable='true']
        background yellow
    .recommend
        .active
            display none
        &.active
            .active
                display inline-block
            .inactive
                display none
    .save
        display none
    .editable .save
        display inline-block

    .list
        border-top 1px solid $border
    &.simple
        .list
            display none

.o-actions
    padding 15px 25px
    text-align right

.p-actions
    border-top 1px solid $border
    margin 0 25px
    padding 10px 0
    text-align right
    &:empty
        display none