@import '00_variables.styl'
@import 'nib'

.page
    img
        display inline-block
    h4
        margin-right 5px
    .right
        top 15px
        right 15px

.list > .page
    border-bottom 1px solid $border

.mouse .page:hover .i-title
    color blue
    text-decoration underline