@import '00_variables.styl'
@import 'nib'

#prescription
    margin-top 30px

.prescription
    .p-actions
        text-align right
    .recommendations
        padding 0px 15px
        text-align right
        .avatar
            display inline-block
            margin-right 5px
            img
                width 30px
                height 30px
    .i-actions
        border-bottom 1px solid $border
        padding 5px 15px
    .i-image
        border 1px solid rgba(0,0,0,0.03)
    a.i-image
        background-position center
        background-size cover
        height 400px
    .description
        padding 0 15px
        line-height 1.42857
    .description[contenteditable='true']
        background yellow
        margin 10px 0
    .recommend
        .active
            display none
        &.active
            .active
                display inline-block
            .inactive
                display none
    .save
        display none
    .editable .save
        display inline-block

    &.simple
        .list-actions
        .list
            display none