@import '00_variables.styl'
@import 'nib'

.p-container
    fixed top bottom
    overflow hidden
    padding-bottom 45px
    z-index 10001
    background white

.p-header
    padding 35px 10px 10px
    font-weight 900
    line-height 1.2em

.rc
    background yellow
    padding 10px
    font-size 10px
    font-weight 500
    display none

body.remote .rc
    display block

.p-body
    absolute top 200px left right bottom

#autoplay
    margin-top 15px
    padding 15px 2px
    text-align center
    small + span
        margin-left 10px

.p-live
    display none

.p-live .user a
    display inline-block

#current-time
    absolute bottom 10px left 10px

#remaining-time
    absolute bottom 10px right 10px

.time
    font-size 10px
    font-family monospace

#yt-container
    width 100%
    height 100%
    &.hide
        display none

#artwork
    background #666
    background-position center
    background-size cover
    pointer-events none

.p-ctrls
    absolute left top right
    background rgba(0,0,0,0.3)
    color white
    text-align center
    .play i.icon-pause
        display none

    a
        width 35px
        height 50px
        font-size 18px
        line-height 45px
        text-align center
        vertical-align middle
        border none
        display inline-block
        i
            vertical-align middle
            line-height 30px
        &.play
            font-size 45px
            height 55px
            width 55px
            border-radius 100%
        &.active
            color $vacay
        &[disabled]
            opacity 0.2
            cursor not-allowed

#artwork
.p-ctrls
    height 200px
        
.playing .p-ctrls .play
    i.icon-play
        display none
    i.icon-pause
        display inline-block

#p-icon
    fixed right 10px
    min-height 44px
    border-radius 999em
    padding 7px
    z-index 10002
    .badge
        absolute top -4px right -4px
        width 20px
        height 20px
        border-radius 100%
        font-size 10px
        background white
        border 1px solid $bg
    .bar
        font-size 25px
        background-color #666
        display inline-block
        margin 0 0.05em
        transition 0.5s
        vertical-align middle
        animation bump 1s linear infinite paused

    .bar:nth-child(1)
        width 0.1em
        height 1em
        animation-duration 1s

    .bar:nth-child(2)
        width 0.1em
        height 0.7em
        animation-duration 0.4s

    .bar:nth-child(3)
        width 0.1em
        height 1em
        animation-duration 0.65s

    .bar:nth-child(4)
        width 0.1em
        height 0.7em
        animation-duration 0.5s

    .bar:nth-child(5)
        width 0.1em
        height 0.8em
        animation-duration 0.65s

body.playing #p-icon .bar
    animation-play-state running

body.remote #p-icon .bar
    background-color $red

body.live .p-live
    display block

.player-open #p-icon
    background $border

@media (min-width: $smallMin)
    body.native
        .p-container
            top 25px
        &.mobile .p-container
            top 45px

    .p-container
        width 320px
        right -320px

    .player-open
        .p-container
            transform translate3d(-320px,0,0)
        main
            right 320px

    #p-icon
        top 45px

    .p-ctrls a
        margin-top 75px

    body.mouse .p-container
        .p-ctrls
            display none
        &:hover .p-ctrls
            display block

@media (min-width: $largeMin)
    .p-container
        width 400px
        right -400px

    .player-open
        .p-container
            transform translate3d(-400px,0,0)
        main
            right 400px

@media (max-width: $extraSmallMax)
    .p-container
        width 100%
        transform translateY(calc(100% - 60px))
        transition all 250ms cubic-bezier(0.10,0.70,0.10,1)
        &.show-volume
            transform translateY(calc(100% - 160px))

    #p-icon
        bottom 5px
        .bar
            background white

    .n-visible
        .p-container
            bottom 48px
        #p-icon
            bottom 53px

    .p-ctrls
        background rgba(0,0,0,0.7)
        padding 2px

    .player-open
        .p-ctrls
            background rgba(0,0,0,0.2)
            padding-top 122px
        .show-volume .p-ctrls
            padding-top 87px
        .p-container
            transform translateY(0)
        #p-icon .bar
            background #666
