@import '00_variables.styl'
@import 'nib'

.statusbar-container
    position absolute
    width 100%
    line-height 0
    &.dragging
        .statusbar
            cursor -moz-grabbing
            cursor grabbing

.statusbar
    position relative
    height 5px
    background-color $border
    overflow hidden
    cursor -moz-grab
    cursor grab

.statusbar .position
    background-color $vacay

.statusbar .position
.statusbar .loading
    position absolute
    left 0
    top 0
    bottom 0

.statusbar .loading
    background-color white

.statusbar .position
.statusbar .loading
    width 0

#statusbar
    fixed top left right
    height 30px
    cursor crosshair
    z-index 10002
    .statusbar
        height 3px
    .statusbar .position
        background-color $red

body.playing #statusbar .statusbar .position
    background-color $vacay

body.native
    #statusbar
        top 25px
    &.mobile #statusbar
        top 45px
    &.modal-open #statusbar
        top 0

#waveform
    absolute top
    z-index 1
    width 100%
    height 0
    display none
    &[src]
        display block

@media (min-width: $smallMin)
    #waveform
        height 0
    #statusbar .statusbar .loading
        background-color $grey
    #statusbar:hover
        .statusbar
            height 50px
            .loading
                background-color white
        #waveform
            height 40px
            margin 5px 0

@media (max-width: $extraSmallMax)
    #statusbar .statusbar .loading
        background-color $grey
    .player-open #statusbar
        .statusbar .loading
            background-color white
        .statusbar
        #waveform
            height 30px
    body.native.player-open #statusbar
        top 0
    .menu-open #statusbar
        display none