@import '00_variables.styl'
@import 'nib'

.statusbar-container
    position absolute
    width 100%
    line-height 0
    canvas
        position absolute
        opacity 0.7
        top -15px
        margin-bottom 0
        cursor crosshair
        &.disabled
            cursor not-allowed
    &.dragging
        .statusbar
            cursor -moz-grabbing
            cursor grabbing

.statusbar
    position relative
    height 3px
    background-color rgba(200, 200, 200, 1)
    overflow hidden
    cursor -moz-grab
    cursor grab

.statusbar .position
    background-color $vacay

.statusbar .position
.statusbar .loading
    position absolute
    left 0
    top 0
    height 3px

.statusbar .loading
    background-color $grey

.statusbar .position
.statusbar .loading
    width 0

#statusbar
    fixed top left right
    z-index 10002
    .statusbar
    .statusbar .position
    .statusbar .loading
        height 3px
    .statusbar .position
        background-color $red

body.playing #statusbar .statusbar .position
    background-color $vacay

.platform-nodewebkit #statusbar
    top 25px

@media (max-width: $extraSmallMax)
    #statusbar canvas
        display none
    .player-open #statusbar canvas
        display block