@import '00_variables.styl'
@import 'nib'

.user
    a
        vertical-align middle
        font-weight 400
        font-size 14px
        i
            absolute left top
            display none
            font-size 25px
            text-align center
            width 100%
            line-height 45px
            background rgba(0,0,0,0.2)
            color white
            border-radius 999em
        &.active i.icon-pause
            display block
    .left.avatar img
        margin-left 10px
        margin-top 8px
    em
        display block
        margin 5px 0
    &.simple
        a
            display inline-block
            + a
                margin-left 5px

.list > .user
    border-bottom 1px solid $border

.touch .user
.mouse .user:hover
    a:not(.active) i.icon-play
        display block

.mouse .user:hover a.i-title
    color blue
    text-decoration underline

#user
    .avatar img
        display block
        width 100px
        height 100px
        margin 0
        border-radius 0
    .i-body
        margin-bottom 15px
        min-height 100px
    .save
        display none
    .editable .save
        display inline-block
    .md-loading
        display none
        margin 0
        absolute top left
        width 100px
        height 100px
        .md-inner
            width 100px
            height 100px
            .md-gap
                left 49px
                right 49px
            .md-left
            .md-right
                height 100px
                width 50px
                .md-half-circle
                    transition transform 0.1s linear
                    width 100px
                    height 100px
        &.show
            display block

@media (min-width: $smallMin)
    #user .i-body
        margin-left 115px

@media (max-width: $extraSmallMax)
    #user
        .left
            position relative
            top 0
        .i-body
            margin 0
            padding 0
