@import '00_variables.styl'
@import 'nib'

.vitamin
    padding 0
    border-bottom 1px solid $border
    .right
        top 10px
        right 0
    .play
        background $border
        width 100px
        height 100px
        i
            absolute left top
            display none
            width 100%
            line-height 100px
            background rgba(0,0,0,0.2)
            color white
    .i-body
        padding 10px 130px 0 10px
        margin-left 100px
    .avatar img
        width 100px
        height 100px
        border-radius 0
    &.nowplaying
        background #fafafa
        .play i.icon-play
            display block
    .icon-download
        margin 0 10px
        &.success
            color green
    .tags
        padding 0 40px 0 0

.touch .vitamin
.mouse .vitamin:not(.nowplaying):hover
    .play i.icon-play
        display block

.vitamin .play[data-active='true']
    i.icon-play
    .f
        display inline-block
    i.icon-pause
    .o
        display none

.playing .vitamin.nowplaying .play
.playing .vitamin .play[data-active='true']
    i.icon-play
    .f
        display none
    i.icon-pause
    .o
        display inline-block

.queue
    i
        display inline-block
        transition all 100ms ease-in-out
    &[data-active='true']
        background transparent
        border-color $red
        i
            transform rotateZ(-45deg)
            color $red

#vitamin
    border-bottom 1px solid $border
    .vitamin
        min-height 200px
    .i-body
        padding-right 0
        margin 30px 30px 30px 215px
    .i-title
        font-size 22px
    .play
    .avatar img
        height 200px
        width 200px
        border-radius 0
        margin 0
    .play i
        line-height 200px
        font-size 40px
        border-radius 0

@media (min-width: $smallMin)
    .vitamin
        min-height 100px
    #vitamins .tags
        margin-left 215px

@media (max-width: $extraSmallMax)
    .vitamin
        .play
            width 45px
            height 45px
            i
                line-height 45px
        .avatar img
            width 45px
            height 45px
        .i-body
            margin-left 45px
        &.i-right
            .i-body
                padding-right 70px
            .crate
            .queue
            .more
                display none

    #vitamin
        .left
            position relative
            top 0
        .i-body
            margin-left 0