@import '00_variables.styl'
@import 'nib'

.vitamin
    .play
        width 30px
        height 30px
        i
            absolute left top
            display none
            width 100%
            line-height 30px
            background rgba(0,0,0,0.2)
            color white
            border-radius 999em
    &.nowplaying .play i.icon-play
        display block
    .icon-download
        margin 0 10px
        &.success
            color green

.mouse .vitamin .right
    display none
.mouse .vitamin:hover
    background #fcfcfc
    a.i-title
        color blue
        text-decoration underline
    .right
        display block

.touch .vitamin
.mouse .vitamin:not(.nowplaying):hover
    .play i.icon-play
        display block

.vitamin .play[data-active='true']
    i.icon-play
    .f
        display inline-block
    i.icon-pause
    .o
        display none

.playing .vitamin.nowplaying .play
.playing .vitamin .play[data-active='true']
    i.icon-play
    .f
        display none
    i.icon-pause
    .o
        display inline-block

.queue
    i
        display inline-block
        transition all 100ms ease-in-out
    &[data-active='true']
        background transparent
        border-color $red
        i
            transform rotateZ(-45deg)
            color $red

.mouse .vitamin.selected:not(#vitamin)
    i-body
        padding-right 50px
    .right
        display none

#vitamin
    border-bottom 1px solid $border
    .vitamin
        min-height 230px
    .i-body
        padding-right 0
        margin 30px 30px 30px 215px
    .i-title
        font-size 22px
    .play
    .avatar img
        height 200px
        width 200px
        border-radius 0
    .play i
        line-height 200px
        font-size 40px
        border-radius 0
    .tags .input
        text-align center

@media (max-width: $extraSmallMax)
    .vitamin
        .play
            width 45px
            height 45px
            i
                line-height 45px

        &.i-right
            .i-body
                padding-right 25px
            .right
                display none

    #vitamin
        .left
            position relative
            top 0
        .i-body
            margin-left 0