@import '00_variables.styl'
@import 'nib'

#windowbar
    fixed top left right
    display none
    height 25px
    padding 5px
    -webkit-user-select none
    -webkit-app-region drag
    cursor move
    z-index 10003
    background white
    button
        width 14px
        height 14px
        min-width 14px
        min-height 14px
        padding 0
        border-radius 100%
    .hide-online
        color red

body.native
    #windowbar
        display block
    &.mobile #windowbar
        height 45px
        button
            width 35px
            height 35px
            line-height 0

body.modal-open
    #windowbar
        display none

#exit
    background $red

#minimize
    background $orange

#maximize
    background $green

#back
    border 1px solid $border
    line-height 35px

#forward
    border 1px solid $border
    line-height 35px

#version
    color #c8c8c8

@media (max-width: $extraSmallMax)
    body.native.player-open
    body.native.menu-open
        #windowbar
            top -45px
