@import '00_variables.styl'
@import 'nib'

.cf
    &:before
    &:after
        content " "
        display table
    &:after
        clear both

.bookmarklet
    background-color #f6f6f6
    border-radius 5px
    padding 0 10px
    display inline-block
    cursor move
    border 1px solid $border

.close
    padding 0
    width 44px
    height 44px
    &:before
        content '\0000D7'
        font-size 30px
        line-height 10px
        font-weight 200

.delete:before
    absolute top left
    content '\0000D7'
    background $red
    width 100%
    height 100%
    border-radius 999em
    line-height 16px
    border 6px solid white
    color white

.pull-right
    float right

.scroll
    overflow-x hidden
    overflow-y auto
    -webkit-overflow-scrolling touch

.cursor
a
button
    cursor pointer

.t
    .o
        display none
    &[data-active='true']
        .o
            display block
        .f
            display none

body.mobile .hide-mobile
body.no-auth .hide-auth
body:not(.platform-nodewebkit) .hide-nw
body:not(.native) .hide-native
    display none

.tip
    font-size 11px
    color rgba(0,0,0,0.6)
    &:before
        content 'Tip: '
        font-weight 900