nav.horizontal-pill
    ul
        li
            a.all(onclick='View.load({ t: "all" })') all
        li
            a.prescriptions(onclick='View.load({ t: "prescriptions" })') prescriptions
        li
            a.vitamins(onclick='View.load({ t: "vitamins" })') pages